WarNotes/WarNotes/obj/
WarNotes/WarNotes/bin/
WarNotes/DataAccessLayer/obj/
WarNotes/DataAccessLayer/bin/
WarNotes/BusinessLogicLayer/obj/
WarNotes/BusinessLogicLayer/bin/
Warnotes/.vs/
ConsoleAppAdoNet/ConsoleAppAdoNet/bin/
ConsoleAppAdoNet/ConsoleAppAdoNet/obj/
ConsoleAppAdoNet/.vs/
